

<h2><a href="/quote/new">add new quote</a></h2>

<a href="/profile">My Profile</a>

All quotes... (debug)

<% @quotes.each do |item| %>
    <p><%= item['category']%>
    <%= item['author']%>
    <%= item['content']%></p>
<% end %>



