<table class="table">
  <caption>TOP 5 QUOTES</caption>
  <tr>
    <th scope="col">Category</th>
    <th scope="col">Author</th>
    <th scope="col">Quote</th>
    <th scope="col">Votes</th>
  </tr>
  <% i = 0 %>
  <% while i < 5 %>
  <tr>
    <td><%= @quotes_to_show[i][0].category %></td>
    <td><%= @quotes_to_show[i][0].author %></td>
    <td><%= @quotes_to_show[i][0].content %></td>
    <td><%= @quotes_to_show[i][0].favourites.count %></td>
  </tr>
  <% i += 1 %>
  <% end %>

<!--     <tr>
    <td><%#= @pos2.category %></td>
    <td><%#= @pos2.author %></td>
    <td><%#= @pos2.content %></td>
    <td><%#= @favs_array[-2][1] %></td>
  </tr>
  <tr>
    <td><%#= @pos3.category %></td>
    <td><%#= @pos3.author %></td>
    <td><%#= @pos3.content %></td>
    <td><%#= @favs_array[-3][1] %></td>
  </tr>
  <tr>
    <td><%#= @pos4.category %></td>
    <td><%#= @pos4.author %></td>
    <td><%#= @pos4.content %></td>
    <td><%#= @favs_array[-4][1] %></td>
  </tr>
  <tr>
    <td><%#= @pos5.category %></td>
    <td><%#= @pos5.author %></td>
    <td><%#= @pos5.content %></td>
    <td><%#= @favs_array[-5][1] %></td>
  </tr> -->
</table>
