<h1>Quoteshare</h1>

<h2><a href="/login">login/sign-in</a></h2>


<form action="/session" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>logout</button>
</form>

<h2><a href="/quote/new">add new quote</a></h2>

Search quotes:
<form action="/results" method="get">
  <input name="search" type="text">
  <button>search</button>
</form>

<a href="/profile">My Profile</a>


All quotes... (debug)

<% @quotes.each do |item| %>
    <p><%= item['category']%>
    <%= item['author']%>
    <%= item['content']%></p>
<% end %>



