<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <main>
    <header>
      <nav class="nav nav-pills justify-content-center">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/profile">Profile</a>
        <a class="nav-item nav-link" href="/about">About</a>
      </nav>

        <% if logged_in? %>
          logged in as <%= current_user.username %>
          <form action="/session" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>logout</button>
          </form>
        <% else %>
          <form action="/login">
            <input type="hidden" name="_method">
            <button>login/signup</button>
          </form>
        <% end %>

        <h1>QuoteShare</h1>
      <div class="search-form">
        <form action="/results" method="get">
          <label for="">Search:</label>
          <input name="search" type="text" placeholder="text or author...">
          <button>search</button>
        </form>
      </div>
    </header>

    <%= yield %>

  </main>
</body>
</html>




