
<h2>login</h2>
<form action="/session" method="post">
  <label for="">email</label>
  <input name="email" type="text">
  <label for="">password</label>
  <input name="password" type="password">
  <button>login</button>
</form>

<h2>new user</h2>
<form action="/newuser" method="post">
  <label for="">username (displayed to others)</label>
  <input name="username" type="text">
  <label for="">email</label>
  <input name="email" type="text">
  <label for="">password</label>
  <input name="password" type="password">
  <button>new user</button>
</form>