<h2>new quote</h2>

<form action="/quote" method="post">
  <label for="">quote author</label>
  <input name="author" type="text">
  <label for="">category</label>
  <input name="category" type="text">
  <label for="">quote</label>
  <input name="content" type="text">
  <button>create quote</button>
</form>