<h2>Your quotelist</h2>

<p>Favourites:</p>
<table class="table">
  
<p>to insert table</p>


<p>Uploaded by you:</p>
<table class="table">
  
<tr>
  <th scope="col">Category</th>
  <th scope="col">Author</th>
  <th scope="col">Quote</th>
  <th scope="col">Edit/Delete</th>
</tr>
<tr>
  
<% @result.each do |quote|%>
  <tr>
    <td><%= quote['category'] %></td>
    <td><%= quote['author']%></td>
    <td><%= quote['content']%></td>
    <td><a href="quote/<%= quote['id'] %>/edit">edit</a></td>
  </tr>
<%end%>
</table>