body{
  background-color: #88B5D6;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/19279-200.png");
  background-repeat: repeat;
}

main {
  width: 1050px;
  border: solid 3px black;
  margin: 0 auto;
}

header {
  background: rgb(198, 238, 246);
  border-bottom: 1px solid black;
}

nav {
  background-color: #1A2739;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

caption {
  caption-side: top;
  color: black;
  font-weight: bold;
}

.login-details {
  width: 200px;
  margin: 15px auto;
  text-align: center;
}

.new-user {
  width: 200px;
  margin: 10px auto;
  text-align: center;
}

.login-box{

}

.page{
  background: white;
  padding: 3px;
}

.search-form {
  text-align: center;
  margin-bottom: 30px;
}

#main-search {
  width: 400px;
  border: 2px solid black;
  padding: 5px 5px 5px 30px;
  transition: width 0.3s ease-out;
  background-color: white;
  background-image: url('https://www.visitsouthdevon.co.uk/images/searchButtons/btn_sitesearch@x2.png');
  background-position: 5px 6px;
  background-repeat: no-repeat;
}

#main-search:focus {
  width: 750px;
}

#main-search-button {
  padding: 4px;
}

#search-note {
  font-style: italic;
  color: grey;
  font-size: 0.8rem;
}

#new-quote, #edit-quote {
  width: 500px;
}