body{
  background: rgba(109, 143, 255, 0.1);
  /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1c/Quotation_Marks.svg");
  background-repeat: repeat;*/
}


main {
  width: 1000px;
  border: solid 3px black;
  margin: 0 auto;
}

header {
  background: white;
  border-bottom: 1px solid black;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h2 {
  margin-top: 15px;
}

caption {
  caption-side: top;
}

.search-form {
  text-align: center;
  margin-bottom: 30px;
}
